.App {
  text-align: center; }

body .router {
  border: 5px solid #3b32be; }
  body .router .navSection {
    border: 5px solid #81ac3d; }
    body .router .navSection ul {
      display: flex; }
      body .router .navSection ul li {
        list-style-type: none;
        margin-right: 1rem; }

body .difficultyRouter {
  background-color: #ffa366; }
  body .difficultyRouter .difficultySection ul {
    display: flex;
    justify-content: center; }
    body .difficultyRouter .difficultySection ul li {
      list-style-type: none;
      margin-right: 1rem; }

.item {
  margin: 1rem;
  padding: 1rem;
  border-radius: 25px;
  background-color: white; }
  .item div div {
    display: flex;
    justify-content: space-between; }
    .item div div input, .item div div button {
      border-radius: 25px;
      padding: 0.7rem; }
    .item div div button {
      width: 100px; }
