.App {
  text-align: center; }

body .router {
  border: 5px solid #3b32be; }
  body .router .navSection {
    border: 5px solid #81ac3d; }
    body .router .navSection ul {
      display: flex; }
      body .router .navSection ul li {
        list-style-type: none;
        margin-right: 1rem; }

body .difficultyRouter {
  border: 10px solid #be5a32; }
  body .difficultyRouter .difficultySection ul {
    border: 10px solid #32be45;
    display: flex; }
    body .difficultyRouter .difficultySection ul li {
      list-style-type: none;
      margin-right: 1rem; }

.item {
  border: 10px solid #32be45; }
