
    .abouttitlesect{
    margin:2rem;
    h1{
        font-size: 2.5rem;
    }
        div{
            border-radius: 50px;
            padding: 2rem;
            background-color: white;
            box-shadow: rgba(153, 0, 0, 0.5) 5px 5px 0;
            p{
                font-size: 1.3rem;
            }
        }
    }